@import url("../app/home/home.module.css");
@import url("../app//about/about.module.css");
@import url("../app/about//navtest/navTest.module.css");
@import url("../app/tour/tour.module.css");
@import url("../app/contact/contact.module.css");

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  
}

a {
  text-decoration: none;
  color: inherit;
}

.topMargin {
  margin-top: 50px !important;
}
