.navBar{
    padding-right: 290px !important;
   
}
.navItem{
    text-decoration: none !important;
    text-transform: uppercase;
    padding: 20px !important;
    color: white !important;
    margin: 10px !important;
}

.navBackground{
    background-color : #2485B0 !important;
}